@model AdvertSystem.Models.CompanyModel

@{
    ViewData["Title"] = "Create";
}

<h1>Fyll i</h1>

<h4>Företagsuppgifter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Företagsnamn</label>
                <input asp-for="Co_Name" class="form-control" />
                <span asp-validation-for="Co_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Telefonnummer</label>
                <input asp-for="Co_Telephone" class="form-control" />
                <span asp-validation-for="Co_Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Adress</label>
                <input asp-for="Co_Steet" class="form-control" />
                <span asp-validation-for="Co_Steet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Postnummer</label>
                <input asp-for="Co_PostalCode" class="form-control" />
                <span asp-validation-for="Co_PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Stad</label>
                <input asp-for="Co_City" class="form-control" />
                <span asp-validation-for="Co_City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fakturaadress</label>
                <input asp-for="Co_BillStreet" class="form-control" />
                <span asp-validation-for="Co_BillStreet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Faktura Postnummer</label>
                <input asp-for="Co_BillPostalCode" class="form-control" />
                <span asp-validation-for="Co_BillPostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Faktura Stad</label>
                <input asp-for="Co_BillCity" class="form-control" />
                <span asp-validation-for="Co_BillCity" class="text-danger"></span>
            </div>
           
            <div class="form-group" style="margin-top:20px">
                <input type="submit" value="Skicka" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
