@model AdvertSystem.Models.CompanyModel

@{
    ViewData["Title"] = "Details";

    ViewBag.Titles = new {
		Co_Name = "Företagsnamn",
		Co_Telephone = "Telefonnummer",
        Co_OrgId = "Organisationsnummer",
		Co_BillStreet = "Faktura Adress",
		Co_BillPostalCode = "Faktura Postnummer",
		Co_BillCity = "Faktura Ort",
		Co_Steet = "Adress",
        Co_PostalCode ="Postnummer",
        Co_City = "Ort"
	};
}

<div>
    <h3>Granska dina uppgifter</h3>

    <div class="form-control mt-4">
        @foreach(var property in typeof(CompanyModel).GetProperties()) {
		        @if (property.Name == "Co_Id") continue;

		        <h5>@ViewBag.Titles.GetType().GetProperty(property.Name).GetValue(ViewBag.Titles)</h5>
		        <p>@(property.GetValue(Model))</p>
        }
    </div>
</div>


<div style="display: flex; flex-direction: row" class="mt-4 mb-4">
	<form method="get" action="/Company/Edit/@Model.Co_Id" style="margin-right: 8px;">
		<input type="submit" class="btn btn-primary" value="Ändra uppgifter">
	</form>
		
	<form method="get" action="/Ad/Create/@ViewBag.An_Id">
		<input type="submit" class="btn btn-primary" value="Gå vidare">
	</form>
</div>
<p class="text-success">@TempData["Success"]</p>
<p class="text-secondary">Om dina uppgifter ej stämmer, bör du ändra dem.<br/> Annars kan du gå vidare.</p>

