@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Hantera prenumeranter</h1>

<h3>Filhantering</h3>

<a href="https://localhost:7044/api/subscriber?xml=true" class="btn btn-primary" download="subscribers.xml"> Hämta fil med prenumeranter </a>

<div class="mb-3">
  <label for="formFile" class="form-label">Ladda upp fil med prenumeranter (.xml)</label>
  <input class="form-control" accept="text/xml" type="file" id="formFile">
</div>