@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Hantera prenumeranter</h1>

<h3>Filhantering</h3>

<a href="https://localhost:7044/api/xml/" class="btn btn-primary" download="subscribers.xml"> Hämta fil med prenumeranter </a>

<div class="mb-3">
   <form method="post" enctype="multipart/form-data" action="">
      <label class="form-label" for="uploadFile">Ladda upp fil med prenumeranter (.xml)</label>
      <input class="form-control" accept="text/xml" type="file" name="uploadFile">
	
      <input class="btn-primary btn" type="submit"/>
  </form>
</div>

<p class="text-danger">@TempData["Error"]</p>
<p class="text-success">@TempData["Success"]</p>