@{
    ViewData["Title"] = "Home Page";
}

<!-- Style i denna div skapar marginaler på sidorna -->
<div style="margin: 0 auto; width: 60%;">
	<h6>Välj ett alternativ för att fortsätta</h6>
	
	<form method="post" action="/">
      <div class ="form-check">
          <input type="radio" class="form-check-input" value="sub" name="Select" checked>
          <label for="Subscriber" class="form-check-label">Prenumerant</label>
      </div>
      <div class ="form-check" style="margin-bottom: 20px">
          <input type="radio" class="form-check-input" value ="co" name="Select">
          <label for="Company" class="form-check-label">Företag</label>
      </div>

      <input type="submit" class="btn btn-primary" value="Gå vidare">
    </form>
</div>
