@model AdvertSystem.Models.SubscriberModel

@{
	ViewBag.Titles = new {
		Su_FirstName = "Förnamn",
		Su_LastName = "Efternamn",
		Su_PersonId = "Personnummer",
		Su_Street = "Adress",
		Su_City = "Ort",
		Su_PostalCode = "Postnummer",
	};
}
<div class="row">
	<div class="col-md-4">
		
		<h3>Granska dina uppgifter</h3>

		<div class="form-control mt-4">
			@foreach(var property in typeof(SubscriberModel).GetProperties()) {
					@if (property.Name == "Su_Id") continue;

					<h5>@ViewBag.Titles.GetType().GetProperty(property.Name).GetValue(ViewBag.Titles)</h5>
					<p>@(property.GetValue(Model))</p>
			}
		</div>

		<div style="display: flex; flex-direction: row" class="mt-4 mb-4">
			<form method="get" action="/Home/EditSubscriber/@Model.Su_Id" style="margin-right: 8px;">
				<input type="submit" class="btn btn-primary" value="Ändra uppgifter">
			</form>
		
			<form method="get" action="/Ad/Create/@ViewBag.An_Id">
				<input type="submit" class="btn btn-primary" value="Gå vidare">
			</form>
		</div>
		
		<p class="text-success">@TempData["Success"]</p>
		<p class="text-secondary">Om dina uppgifter ej stämmer, bör du ändra dem.<br/> Annars kan du gå vidare.</p>

	</div>
</div>



